{
    "root": true,
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "vue/valid-v-slot": "off",
        "vue/no-v-html": "off", // Enable the vue/no-v-html rule
        "vue/html-indent": "off",
        "vue/html-closing-bracket-newline": "off",
        "vue/max-attributes-per-line": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-self-closing": "off",
        "vue/multiline-html-element-content-newline": "off",
    },
    "plugins": ["prettier"],
    "extends": ["@nuxt/eslint-config"],
    "ignorePatterns": ["playground/assets/presets/**/**/*.js"],
}
